<div id="main_content" >

	<% if @posts.empty? %>
		<h2>No posts found.</h2>
	<% end %>

	<% @posts.each do |post| %>

	<div id="<%= "post_#{post.id}" %>" class="posts" >

		<h2><%= post.title %></h2>
		<h6><%= post.created_at.to_s(:date_en) %> by <%= post.author %></h6>	

		<% if post.thumbnail and !post.thumbnail.empty? %>
			<%= link_to image_tag( post.thumbnail, :class => 'post_thumbnail'), { :action => :show, :controller => :posts, :id => post } %>
		<% end %>
		
		<% if post.excerpt.empty? %>
			<p><%= post.text[0,254] %>...&nbsp;<%= link_to 'Read more!', { :action => :show, :controller => :posts, :id => post } %></p>
		<% else %>
			<p><%= post.excerpt %>&nbsp;<%= link_to 'Read more...', { :action => :show, :controller => :posts, :id => post } %></p>
		<% end %>

	</div>
	
	<% end %>
	
	<!-- <div>
		<h3 id=""><%= link_to 'More >', :action => 'index' %></h3>
	</div> -->
	
</div>

<div id="main_sidebar" >
	
	<%= render "shared/sidebar" %>
	
</div>
