<div id="main_content" >

	<div id="<%= "post_#{@post.id}" %>" class="posts" >
		
		<p class="notice"><%= flash[:notice] %></p>

		<h2><%= @post.title %></h2>
		<h6><%= @post.created_at.to_s(:date_en) %> by <%= @post.author %></h6>	

		<p><%= @post.text.html_safe %></p>
		
		<p><b>Tags:</b>&nbsp;<%= join_tags(@post) %></p>
		
	</div>
	
</div>

<div id="main_sidebar" >
	
	<%= render "shared/sidebar" %>
	
</div>
