<div id="main_content" >

	<div id="<%= "post_#{@post.id}" %>" class="posts" >
		
		<p class="notice"><%= flash[:notice] %></p>

		<h2><%= @post.title %></h2>
		<h6><%= @post.created_at.to_s(:date_en) %> by <%= @post.author %></h6>	

		<p><%= @post.text.html_safe %></p>
		
		<p><b>Tags:</b>&nbsp;<%= join_tags(@post) %></p>
		
		<p><g:plusone size="medium" href="<%= request.request_uri %>"></g:plusone></p>
		
	</div>
	
</div>

<div id="main_sidebar" >
	
	<%= render "shared/sidebar" %>
	
</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>