<!DOCTYPE html>
<html>
	<head>
		<title>Brand New Code</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="author" content="Mauricio M. de Almeida" >
		<meta name="description" content="Brand New Code" >
		<meta name="keywords" content="programação, desenvolvimento, ruby, rails, javascript, xhtml, css, sql" >
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
<body>
	
<div id="wrapper" >

	<div id="header" >
		<div id="header_title" >
			<h1>Brand New Code</h1>
		</div>   
	</div>

	<div id="navigation" >
		<div id="navigation_links" >
			<h3>
				:<%= link_to_unless_current 'Blog', { :action => "index", :controller => "home" } %>&nbsp; 
				:<%= link_to_unless_current 'Who?', { :action => "who", :controller => "home" } %>&nbsp; 
			</h3>
		</div>
	</div>

	<div id="main">
		
		<%= yield %>
		
	</div>

	<div id="footer" >
		<div id="footer_content" >
			<p id="" >Copyleft 2011 by <%= mail_to 'brandnewcode@gmail.com', 
												   'Mauricio M. de Almeida',
												   :encode => 'javascript' %>.</p>
		</div>
	</div>

</div>

</body>
</html>
