<!DOCTYPE html>
<html>
	<head>
		<title>Brand New Code</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="author" content="Mauricio M. de Almeida" >
		<meta name="description" content="Brand New Code" >
		<meta name="keywords" content="programação, desenvolvimento, ruby, rails, javascript, xhtml, css, sql" >
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<%= stylesheet_link_tag :all %>
		<%= csrf_meta_tag %>
	</head>
<body>
	
<div id="wrapper" >

	<div id="header" >
		<div id="header_title" >
			<h1><%= link_to_unless_current 'Brand New Code', { :action => "index", :controller => "home" }, { :class => "title_link" } %></h1>
		</div>   
	</div>
	
	<div style="clear: both"></div>

	<div id="navigation" >
		<div id="navigation_links" >
			<h3>
				:<%= link_to_unless_current 'Home', { :action => "index", :controller => "home" } %>&nbsp; 
				:<%= link_to_unless_current 'Quem?', { :action => "who", :controller => "home" } %>&nbsp; 
			</h3>
		</div>
	</div>
	
	<div style="clear: both"></div>

	<div id="main">
		
		<%= yield %>
		
	</div>
	
	<div style="clear: both"></div>

	<div id="footer" >
		<div id="footer_content" >
			<p id="" >Proudly coded by <%= mail_to 'brandnewcode@gmail.com', 
												   'Mauricio M. de Almeida',
												   :encode => 'javascript' %> using Ruby on Rails and not Wordpress.</p>
		</div>
	</div>

</div>

<!-- Javascripts -->
<%= javascript_include_tag :all %>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24293664-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
